.attribution {
    font-size: 11px; text-align: center; 
}
     
.attribution a {
    color: hsl(228, 45%, 44%);
}

.section {
    width: 100%;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 320px;
    height: 499px;
    margin: 230px auto;
}

.text {
    margin: 0 auto;
    text-align: center;
    width: 256px;
}


body {
    font-family: Outfit;
    background-color: #D5E1EF;
    margin: 0 auto;
}

h1 {
    font-size: 22px;
    color: #1F314F;

}

p {
    font-size: 15px;
    color: #68778D;
}


div img {
    border-radius: 30px;
    width: 288px;
    height: 288px;
    margin: 16px 16px 0px 16px;
  
}