.attribution {
    font-size: 11px; text-align: center; 
}
     
.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 50px ;
    width: 320px;
    height: 499px;
    padding: 16px 16px 16px 16px;
}

.text {
    padding: 0px 16px 0px 16px;
    text-align: center;
    width: 256px;
}
body {
    font-family: Outfit;
    background-color: #d5e1ef;
}

h1 {
    font-size: 22px;

}

p {
    font-size: 15px;
}


div img {
    border-radius: 30px;
    width: 288px;
    height: 288px;
    padding: 16px 16px 0px 16px;
  
}